// MITO-preprocessing

// Manifest
manifest {
  name = 'MITO-preprocessing'
  author = 'Andrea Cossa'
  homePage = ''
  description = 'Preprocessing pipeline for lentiviral- and MT-variants-based lineage tracing.'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1'
}

// Profiles
profiles {

    hpc {
      executor.name = 'pbspro'
      process.queue = 'workq'
      singularity.enabled = true
      singularity.cacheDir = '~/.singularity'
      singularity.runOptions = '--bind /hpcnfs'
    }
    local {
      docker.enabled = true
      docker.runOptions = '--volume /Users/:/Users/'
    }

}

// Processes
process {
    
    errorStrategy = 'retry'
    maxRetries = 3

    //

    // sc_pp and tenx_pp (SOLO, MERGE_R1, MERGE_R2 shared)
    withName: MERGE_R1 {
      cpus = 1
      memory = '1G'
      container = { profile.hpc ? 'docker://romanhaa/nf-pgp-perturbseq:0.1' : 'romanhaa/nf-pgp-perturbseq:0.1' }
    }
    withName: MERGE_R2 {
      cpus = 1
      memory = '1G'
      container = { profile.hpc ? 'docker://romanhaa/nf-pgp-perturbseq:0.1' : 'romanhaa/nf-pgp-perturbseq:0.1' }
    }
    withName: EXTRACT_R2 {
      cpus = 1
      memory = '1G'
      container = { profile.hpc ? 'docker://romanhaa/nf-pgp-perturbseq:0.1' : 'romanhaa/nf-pgp-perturbseq:0.1' }
    }
    withName: BOWTIE_INDEX_GBC_PATTERN {
      cpus = 1
      memory = '1G'
      container = { profile.hpc ? 'docker://romanhaa/nf-pgp-perturbseq:0.1' : 'romanhaa/nf-pgp-perturbseq:0.1' }
    }
    withName: ALIGN_33_R2 {
      cpus = 4
      memory = { 3.GB * task.attempt }
      container = { profile.hpc ? 'docker://romanhaa/nf-pgp-perturbseq:0.1' : 'romanhaa/nf-pgp-perturbseq:0.1' }
    }
    withName: GET_READS_NAMES {
      cpus = 4
      memory = { 4.GB * task.attempt }
      container = { profile.hpc ? 'docker://romanhaa/nf-pgp-perturbseq:0.1' : 'romanhaa/nf-pgp-perturbseq:0.1' }
    }
    withName: GET_NAMES_ALIGNED {
      cpus = 4
      memory = { 4.GB * task.attempt }
      container = { profile.hpc ? 'docker://romanhaa/nf-pgp-perturbseq:0.1' : 'romanhaa/nf-pgp-perturbseq:0.1' }
    }
    withName: GET_NAMES_NOT_ALIGNED {
      cpus = 4
      memory = { 4.GB * task.attempt }
      container = { profile.hpc ? 'docker://romanhaa/nf-pgp-perturbseq:0.1' : 'romanhaa/nf-pgp-perturbseq:0.1' }
    }
    withName: PREP_GBC {
      cpus = 4
      // memory = '40G'
      memory = '1G'
      container = { profile.hpc ? 'docker://romanhaa/nf-pgp-perturbseq:0.1' : 'romanhaa/nf-pgp-perturbseq:0.1' }
    }
    withName: PREP_TRANSCRIPT {
      cpus = 6
      // memory = '40G'
      memory = '1G'
      container = { profile.hpc ? 'docker://romanhaa/nf-pgp-perturbseq:0.1' : 'romanhaa/nf-pgp-perturbseq:0.1' }
    }
    withName: GET_GBC_ELEMENTS {
      cpus = 1
      memory = '1G'
      container = { profile.hpc ? 'docker://acox1/mito_benchmark:1.3' : 'acox1/mito_benchmark:1.3' }
    }
    withName: FASTA_FROM_REF {
      cpus = 1
      memory = '1G'
      container = { profile.hpc ? 'docker://romanhaa/nf-pgp-perturbseq:0.1' : 'romanhaa/nf-pgp-perturbseq:0.1' }
    }
    withName: BOWTIE_INDEX_REF {
      cpus = 4
      memory = '10G'
      container = { profile.hpc ? 'docker://romanhaa/nf-pgp-perturbseq:0.1' : 'romanhaa/nf-pgp-perturbseq:0.1' }
    }
    withName: GBC_TO_FASTA {
      cpus = 1
      memory = '1G'
      container = { profile.hpc ? 'docker://romanhaa/nf-pgp-perturbseq:0.1' : 'romanhaa/nf-pgp-perturbseq:0.1' }
    }
    withName: ALIGN_GBC {
      cpus = 8
      memory = { 10.GB * task.attempt }
      container = { profile.hpc ? 'docker://romanhaa/nf-pgp-perturbseq:0.1' : 'romanhaa/nf-pgp-perturbseq:0.1' }
    }
    withName: SOLO {
      cpus = 8
      // memory = { 50.GB * task.attempt }
      memory = '1GB'
      container = { profile.hpc ? 'docker://acox1/maester:1.4' : 'acox1/maester:1.4' }
    }
    withName: CELL_ASSIGNMENT {
      cpus = 1
      memory = { 3.GB * task.attempt }
      container = { profile.hpc ? 'docker://acox1/mito_benchmark:1.3' : 'acox1/mito_benchmark:1.3' }
    }
    withName: generate_run_summary_sc {
      cpus = 1
      memory = '1G'
      container = { profile.hpc ? 'docker://romanhaa/nf-pgp-perturbseq:0.1' : 'romanhaa/nf-pgp-perturbseq:0.1' }
    }
    withName: publish_sc_pp {
      cpus = 1
      memory = '1G'
      container = { profile.hpc ? 'docker://romanhaa/nf-pgp-perturbseq:0.1' : 'romanhaa/nf-pgp-perturbseq:0.1' }
    }   

    //

    // maester_pp



}

//

// Params
params {

    sc_pp.indir = '/Users/IEO5505/Desktop/example_MITO_preprocessing/data/perturb'
    sc_pp.step_1_out = '/Users/IEO5505/Desktop/example_MITO_preprocessing/bulk_pp_out'
    sc_pp.outdir = '/Users/IEO5505/Desktop/example_MITO_preprocessing/results'
    sc_pp.pattern = 'TAGCAAACTGGGGCACAAGCTTAATTAAGAATT'
    sc_pp.whitelist = '/hpcnfs/data/PGP/reference_genomes/custom/10x_whitelists/v3.txt'
    sc_pp.ref = '/hpcnfs/data/PGP/reference_genomes/custom/STARsolo_new/'  

    tenx_pp.indir = '/Users/IEO5505/Desktop/example_MITO_preprocessing/data/tenx' 
    tenx_pp.outdir = '/Users/IEO5505/Desktop/example_MITO_preprocessing/results/tenx' 

    maester_pp.indir = '/Users/IEO5505/Desktop/example_MITO_preprocessing/data/maester'
    maester_pp.ref = '/hpcnfs/data/PGP/reference_genomes/custom/STARsolo_new/'

    maester_pp.ref = '/hpcnfs/data/PGP/reference_genomes/custom/STARsolo_new/'  
    maester_pp.ref = '/hpcnfs/data/PGP/reference_genomes/custom/STARsolo_new/'
    maester_pp.ref = '/hpcnfs/data/PGP/reference_genomes/custom/STARsolo_new/'
    // maester_pp.code_dir = ''
    // maester_pp.min_reads = ''

    // params.outdir = '/Users/IEO5505/Desktop/MI_TO/example_MITO_preprocessing/results'    

}

// Tracing
trace {
    enabled = true
    file = "trace.txt"
    overwrite = true
}