// information about pipeline
manifest {
  name = 'prova'
  author = 'Andrea Cossa'
}

conda.enabled = true

//// profiles
//profiles {
//    conda {
//        enabled = true
//        process.conda = 'MI_TO'
//    }
//    docker {
//        enabled = true
//        container = 'docker://romanhaa/nf-pgp-perturbseq:0.1'
//    }
//    singularity {
//        enabled = true
//        cacheDir = "${baseDir}/.singularity"
//        runOptions = "--bind /hpcnfs"
//    }
//}

//
// timeline {
//   enabled = true
//   file = "run_summary/execution_timeline.html"
// }
// report {
//   enabled = true
//   file = "run_summary/execution_report.html"
// }
// trace {
//   enabled = true
//   file = "run_summary/execution_trace.txt"
// }
// dag {
//   enabled = true
//   file = "run_summary/pipeline_dag.svg"
// }
