singularity { 
    enabled = true   
    runOptions = ' --bind /hpcnfs/ '
}

process {   
    container = '/hpcnfs/scratch/PGP/MI_TO_benchmark/MI_TO/images/mito_benchmark.sif'   
    executor = 'pbspro'   
    queue = 'nocg_workq'

    // Resources 
    // maxForks = min((total_CPUs / CPUs_per_job) // wait_time, queue_size)   
    cpus = 10 // Temporary
    memory = '5 G' // Temporary
    maxForks = 10 // Temporary
}

env {   
    PATH = '$PATH:/hpcnfs/software/singularity/3.7.0/bin/:/hpcnfs/software/anaconda/anaconda3/bin/'  
}                                                                                                                                                                                                                  

