singularity { 
    enabled = true   
    runOptions = ' --bind /hpcnfs/ --bind /scratch/ '
}

process {   
    container = '/hpcnfs/techunits/.sif'   
    executor = 'pbspro'   
    queue = 'nocg_workq'   
    scratch = '/hpcnfs/scratch/temporary/'
}

env {   
    PATH = '$PATH:/hpcnfs/software/singularity/3.7.0/bin/:/hpcnfs/software/anaconda/anaconda3/bin/'  
}

