singularity { 
    enabled = true   
    runOptions = ' --bind /hpcnfs/ '
    cacheDir = ' ~/.singularity '
}

process {   
    container = 'docker://acox1/mito_benchmark:1.2'  
    executor = 'pbspro'   
    queue = 'nocg_workq'

    // Resources 
    // maxForks = min((total_CPUs / CPUs_per_job) // wait_time, queue_size)   
    cpus = 10 // Temporary
    memory = '5 G' // Temporary
    maxForks = 10 // Temporary
}

env {   
    PATH = '$PATH:/hpcnfs/software/singularity/3.7.0/bin/'  
}                                                                                                                                                                                                                  

